/* 
教えていただきたいこと
①ハンバーガーメニュー
ナビゲーションメニューは現状通り縦並びで
SNSアイコンのみ横並びにしたいのですが、どうしたらいいでしょうか？

②SP版でのFVの見せ方について
全体的にもう一回り小さくした方がいいのかなと思っていますが
どう思いますか？
周辺の▶︎や⚫︎は画面からはみ出てても大丈夫なのですが、
中央の要素がもう少し小さい方が見栄えがいいかなと思っています。
その場合、メディアクエリで要素の幅と位置指定を調整するイメージですか？

③SP版タイトル【余白で〜〜〜】の下の自己紹介のセクションの配置について
SP版では写真→テキスト→ボタンの順にしたいのですが、上手く設定ができません。
以前、課題のcafeサイトでもABOUTのセクションで同じような配置があったかと思いますが、
再度、やり方を教えていただきたいです。

④work5.htmlの箇条書きの箇所【ターゲットや目的記載のところ】
画面幅が変わった際にリストの“ ・ ”下に文字が回り込むのを防ぐため指定してみました。
・HTMLの構成を変更したのであっているか
・liの幅とpタグの幅が違っているように思いますが、どう解決するべきか
教えていただきたいです。


残り、発表会までに余白調整とテキストのサイズ調整・サンクスページ設定を行う予定です。

他、全体的にチェックいただきたいです。
よろしくお願いいたします！
*/


@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    /* line-height: 2.22; */
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
    letter-spacing: 0.14em;
}

h2,
h3 {
    font-family: warbler-banner, sans-serif;
    font-weight: 700;
    font-style: normal;

}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: step;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

button {
    border: none;
    cursor: pointer;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

button:hover {
    transform: scale(1.1);
}