/* お疲れ様です。 
以下、教えていただきたいです。

①FVの見せ方
最初、下記記述をしていたのですが、
#fv {
    max-width: 1920px;
    height: 800px;
}
このまま、sp版サイズに縮小すると
画面の版分以上に空白ができてしまいました。

そこで、
768px以下で
height: 700px の記述を追加してみましたが、
さらに小さいサイズになると同じく空白ができてしまいます。

現状、
#fv {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

の記述をしていますが、こちらも上手くいっていない気がします。
どのようにするのがいいですか？


②sp版にした際のトップページ
【View more】ボタンのドットと矢印の配置がどうしてもズレていってしまいます。
写真の順番を入れ替えるために
#about .my {
    display: contents;
}
を適用した為かと予想していますが、どこにposition: relative;を
つけても上手くいきません。

よろしくお願いいたします。
*/








@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    /* line-height: 2.22; */
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
    letter-spacing: 0.14em;
}

h2,
h3 {
    font-family: warbler-banner, sans-serif;
    font-weight: 700;
    font-style: normal;

}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: step;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

button {
    border: none;
    cursor: pointer;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

button:hover {
    transform: scale(1.1);
}